.container {
  border: 5px solid #ffcc5c;
  display: flex;
  flex-direction: row;
}

.item1 {
  grid-area: header;
  background-color: #668cff;
}

.item2 {
  grid-area: menu;
  background-color:  #ff80bf;
}

.item3 {
  grid-area: main;
  background-color:  #80ffaa;
}

.item4 {
  grid-area: right;
  background-color:  #4da6ff:
}

.item5 {
  grid-area: footer;
  background-color:  #df80ff;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container>div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

